:root{
    --dark-blue: #2c3e50;
    --light-blue: #3a546d;
    --aqua: #1abc9c;
    --white: #ffffff;
}
body{
    color: var(--white)
}
.debug{
    border: 1px solid red;
}
/* HEADER */
.navbar{
    background-color: var(--dark-blue);
}
/* MAIN */
#hero, #about{
    background-color: var(--aqua);
}
#hero img{
    width: 50%;
}
#portfolio, #contacts{
    background-color: var(--white);
    color: black;
}
.my-bttn{
    background-color: var(--aqua);
    color: var(--white);
}
/* FOOTER */
#t-footer{
    background-color: var(--light-blue);
}
#b-footer{
    background-color: var(--dark-blue);
}

/* MEDIAQUERY */
@media (min-width: 768px){
    #hero img{
        width: 25%;
    }
    h1{
        font-size: 3rem;
    }
    h3{
        font-size: 2rem;
    }
}