:root{
    --dark-blue: #2c3e50;
    --light-blue: #3a546d;
    --aqua: #1abc9c;
    --white: #ffffff;
}
body{
    color: var(--white)
}
.debug{
    border: 1px solid red;
}
/* HEADER */
.navbar{
    background-color: var(--dark-blue);
}
/* MAIN */
#hero, #about{
    background-color: var(--aqua);
}
#portfolio, #contacts{
    background-color: var(--white);
    color: black;
}
.my-bttn{
    background-color: var(--aqua);
    color: var(--white);
}
/* FOOTER */
#t-footer{
    background-color: var(--light-blue);
}
#b-footer{
    background-color: var(--dark-blue);
}